
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>

@Html.BeginForm("ExternalLogin", "Account", FormMethod.Post){ 
    <button type="submit" name="externalProvider" value="Google">Login using Google</button>
}
