
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .btn-img {
        height: 20px;
        width: 20px;
        margin-right: 10px;
        vertical-align: text-bottom;
    }
</style>

<h1>Login</h1>

@using (Html.BeginForm("ExternalLogin", "Account", FormMethod.Post)) {
    @Html.Hidden("returnUrl", ViewBag.ReturnUrl as string);
    <button type="submit" name="externalProvider" value="Google" class="btn btn-default"><img class="btn-img" src="~/img/google.svg" />Sign in using Google</button>
}
