@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<section class="meeting-departures">
    <section class="existing-meetings">
        <form method="post" asp-action="GoToMeeting">
            <input type="text" name="meetingId" placeholder="meeting identifier" />
            <input type="submit" />
        </form>
    </section>
    <section class="new-meetings">
        @Html.ActionLink("Create Meeting", "Index", "Meeting")
    </section>
</section>
