@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<form method="post" asp-action="GoToMeeting">
    <input type="text" id="meetingId" name="meetingId" placeholder="meeting identifier" />
    <input type="submit" />
</form>

@Html.ActionLink("Create Meeting", "CreateMeeting", "Meeting");
